public RedirectView update([controllerMethodParameter]){
    [classNameMaj] o=new [classNameMaj]();
    o.set[primaryNameMaj]([primaryParse]);
    [controllerChangeInstanciation]
    repo.save(o);
    return new RedirectView("tocrud[classNameMin].do");
}