@import './base.css';
@import './all.css';
@import './all.min.css';
/* @import './all.'; */

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}