public [classNameMaj] update([controllerMethodParameter]){
    [classNameMaj] o=new [classNameMaj]();
    o.set[primaryNameMaj]([primaryParse]);
    [controllerChangeInstanciation]
    return repo.save(o);
}