[namespace] [package][namespaceStart]
[imports]

import org.springframework.security.authentication.UsernamePasswordAuthenticationToken;

[controllerAnnotations]
public class [controllerNameMaj] [extends]{
    @Autowired
    PasswordEncoder passwordEncoder;
    @Autowired
    AuthenticationManager authenticationManager;
    @Autowired
    JwtService jwtService;

    [fields]
    [constructors]
    [methods]
}
[namespaceEnd]